// Colors
$dark-gray: #272727;
$egg-white: #f5f5f5;
$teal: #51b384;
$dark-teal: #357556;
$dark-blue: #0b2236;

// Spacing
$s-x05: 0.8rem;
$s-x1: 1.6rem;
$s-x2: 3.2rem;
$s-x3: 4.8rem;
// $header-font-size: 1.8rem;
